:root {
  --background: radial-gradient(circle at top left, #f8faff, transparent),
  radial-gradient(circle at bottom right, #a2e9ff, transparent), #7a70e0;
  min-height: 100vh;
  --foreground: #ededed;
  --signature: #8c7cff;
  --headerFooterHeight: 4rem;
}

html,
body {
  max-width: 100vw;
  height: calc(100vh - var(--headerFooterHeight) * 2);
}

/*!*커서숨김*!*/
/*body {*/
/*  cursor: none;*/
/*}*/

body {
  font-family: 'Pretendard-Regular', sans-serif;
  color: var(--foreground);
  background: var(--background);
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--headerFooterHeight) * 2);
  margin-top: var(--headerFooterHeight);
  margin-bottom: var(--headerFooterHeight);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Pretendard-Regular', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
button{
  cursor: pointer;
}

/*header {*/
/*  height: var(--headerFooterHeight);*/
/*  width: 100%;*/
/*  color: var(--signature);*/
/*  padding: 1rem 0;*/
/*  border-bottom: solid 1px #929292;*/
/*  position: fixed;*/
/*  top: 0;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  z-index: 100;*/
/*  background-color: var(--background);*/
/*  overflow-x: hidden;*/
/*}*/

/*footer {*/
/*  height: var(--headerFooterHeight);*/
/*  width: 100%;*/
/*  color: var(--signature);*/
/*  padding: 1rem 0;*/
/*  border-top: solid 1px #929292;*/
/*  position: fixed;*/
/*  bottom: 0;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  z-index: 100;*/
/*  background-color: var(--background);*/
/*  overflow-x: hidden;*/
/*}*/

p {
  text-align: center;
}

header span,
footer span {
  animation: textMove 5s linear infinite;
  padding: 0 1rem;
  white-space: nowrap;
  display: inline-block;
}

@keyframes textMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('/fonts/Pretendard-Regular.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Black';
  src: url('/fonts/Pretendard-Black.otf') format('opentype');
  font-style: normal;
}

body {
  font-family: 'Pretendard', sans-serif;
}

