.moveConversationRoom {
  font-size: 3rem;
  color: var(--signature);
  background-color: var(--background);
  padding: 1rem 3rem;
  border: 1px solid white;
  border-radius: 1rem;
  transition: all 0.3s ease;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.moveConversationRoom:hover {
  background-color: var(--signature);
  color: var(--background);
  cursor: pointer;
  border: 1px solid var(--signature);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.title {
  font-size: 1.8rem;
  font-weight: 900;
}

.Maintitle{
  font-family: 'Pretendard-Black', sans-serif;
  position: absolute;
  /*left:50%;*/
  /*top: 50%;*/
  /*width:100%;*/
  /*height: 100%;*/
}


.backgroundCircle {
  position: absolute;
  /*top: 50%;*/
  /*left: 50%;*/
  transform: translate(-50%, -50%); /* 원 중심을 기준으로 이동 */
  z-index: 0;
  opacity: 0.7;
}


.foreground {
  /*width: 90%;*/
  color: white;
  padding: 60px 40px;
  text-align: center;
  position: relative;
  z-index: 1; /* 앞에 오도록 */
}

.subtitle {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.text {
  font-size: 1rem;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.85);
}

.highlight {
  color: #a68eff;
  font-weight: 600;
}

.button {
  margin-top: 30px;
  padding: 12px 36px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}


.button:hover {
  background-color: rgba(166, 142, 255, 0.22); /* 보라색 */
  color: #c5b4ff;
  border-color: #a68eff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* 아래서 올라오는 느낌 */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
