.moveConversationRoom {
  font-size: 3rem;
  color: var(--signature);
  background-color: var(--background);
  padding: 1rem 3rem;
  border: 1px solid white;
  border-radius: 1rem;
  transition: all 0.3s ease;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.moveConversationRoom:hover {
  background-color: var(--signature);
  color: var(--background);
  cursor: pointer;
  border: 1px solid var(--signature);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card {
  animation: fadeIn 1s ease-out forwards;
  border: 1px solid #ffffff;
  padding: 60px 40px;
  text-align: center;
  border-radius: 12px;
  max-width: 640px;
  width: 90%;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.3); /* 이거 꼭 있어야 blur 보임! */
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
  color: white;
}

.title {
  font-size: 1.8rem;
  font-weight: 900;
}

.Maintitle{
  font-family: 'Pretendard-Black', sans-serif;
}

.subtitle {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.text {
  font-size: 1rem;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.85);
}

.highlight {
  color: #a68eff;
  font-weight: 600;
}

.button {
  margin-top: 30px;
  padding: 12px 36px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}


.button:hover {
  background-color: rgba(166, 142, 255, 0.22); /* 보라색 */
  color: #c5b4ff;
  border-color: #a68eff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* 아래서 올라오는 느낌 */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
