.BadgeContainer{
    display: flex;
    gap: 1rem;
}

.icon {

}

.name {
    display: flex;
    font-weight: bold;
    font-size: large;
}

.role {
    display: flex;
    font-size: medium;
    color: #aeaeae;

}

.nameImg {
    display: flex;
    flex-direction: column;
}