.mediatorBubbleContainer {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mediatorBubble {
    background-color: rgba(255, 255, 255, 0.59);
    color: #747474;
    border: 1px solid #ffffff;
    padding: 0.7rem 2rem;
    border-radius: 2rem;
    align-self: center;
}

.userBubbleContainer {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.userBubble {
  background-color: #ffe6b5;
  color: black;
  padding: 1rem;
  border-radius: 2rem;
  align-self: flex-end;
}


.agentBBubbleContainer {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
    margin-left:auto;
}

.agentABubbleContainer {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right:auto;
}


.agentABubble {
  background-color: white;
  color: #000000;
  padding: 1rem;
  border-radius: 28px;
  align-self: flex-end;
  /*border: 1px solid #c5ae65;*/
  max-width: 100%;
  word-wrap: break-word;
  line-height: 1.4;
}

/*.agentABubble::after {*/
/*  content: '';*/
/*  position: absolute;*/
/*  bottom: 0px;*/
/*  left: 0px;*/
/*  width: 15px;*/
/*  height: 15px;*/
/*  background-color: #c5ae65;*/
/*  display: block;*/
/*}*/

.agentBBubble {
  background-color: white;
  color: #000000;
  padding: 1rem;
  border-radius: 28px;
  align-self: flex-start;
  /*border: 1px solid #8fa2c3;*/
  max-width: 100%;
  word-wrap: break-word;
  line-height: 1.4;
}

/*.agentBBubble::after {*/
/*  content: '';*/
/*  position: absolute;*/
/*  bottom: 0px;*/
/*  right: 0px;*/
/*  width: 15px;*/
/*  height: 15px;*/
/*  background-color: #8fa2c3;*/
/*  display: block;*/
/*}*/

.timestamp {
  font-size: 0.75rem;
  color: #b1b1b1;
  position: absolute;
  top: -1rem;
  left: 1rem;
}


.agentBubble_typing{
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

@keyframes bubbleSlideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bubbleAnimation {
  animation: bubbleSlideUp 1s ease-in-out;
}

